.header {
  height: 45vh;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
}
.header-tint {
  background-color: rgba(221, 240, 255, .25);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.w1-header {
    background-image: url("../assets/cloisters1.jpg");
}

.w1-5-header {
  background-image: url("https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/leaves_232.jpg?v=1693698055534");
}

.w2-header {
  background-image: url("../assets/cloisters2.jpg");
}

.w3-header {
  background-image: url("../assets/cloisters3.jpg");
}

.w4-header {
  background-image: url("../assets/cloisters4.jpg");
}

.w5-header {
  background-image: url("../assets/cloisters5.jpg");
}

.w6-header {
  background-image: url(https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/forest_fog.jpg?v=1696033828847);
}

.w7-header {
  background-image: url(https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/park_a1.jpg?v=1692983889178);
}

.w8-header {
  background-image: url(https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/park_d.jpg?v=1692983192916);
}

.w9-header {
  background-image: url(https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/parkv2.jpg?v=1692983916629);
}

.w10-header {
  background-image: url(https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/foliage.jpg?v=1698768828477);
}
.w11-header {
  background-image: url(https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/park_s5.jpg?v=1692984673623);
}
.w12-header {
  background-image: url(https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/grand_army_pigeons.jpg?v=1700238004986);
}
.w13-header {
  background-image: url(https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/grand_army_pigeons.jpg?v=1700672039004);
}
.w14-header {
  background-image: url(https://cdn.glitch.global/458f0fda-092e-4b38-b618-cc2d92eb0cc0/parkt8.jpg?v=1692983920699);
}
.w15-header {
  background-image: url(https://cdn.glitch.global/618eee33-67fe-4199-ba0f-460e7e469256/roberto-carlos-roman-don-wt3disORDAg-unsplash.jpg?v=1678985280886);
}
.w16-header {
  background-image: url(https://cdn.glitch.global/618eee33-67fe-4199-ba0f-460e7e469256/beach_seagulls_sunset.jpg?v=1682256436793);
}